src/main/resources/knight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="knight" type="knightType"/>
  <xs:complexType name="shieldType">
    <xs:sequence>
      <xs:element type="nameAmmunition" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="shield"  name="type"/>
      <xs:element type="material" name="material"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mellewWaponType">
    <xs:sequence>
      <xs:element type="nameAmmunition" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="captured" name="Captured"/>
      <xs:element type="melleWeapon" name="type"/>
      <xs:element type="xs:int" name="lengthWeapon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rangedWeaponType">
    <xs:sequence>
      <xs:element type="nameAmmunition" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="captured" name="Captured"/>
      <xs:element type="rangedWeapon" name="type"/>
      <xs:element type="xs:int" name="numberOfShells"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmmunitionType">
    <xs:sequence>
      <xs:element type="armorType" name="armor"/>
      <xs:element type="helmetType" name="helmet"/>
      <xs:element type="mellewWaponType" name="mellewWapon"/>
      <xs:element type="rangedWeaponType" name="rangedWeapon"/>
      <xs:element type="shieldType" name="shield"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helmetType">
    <xs:sequence>
      <xs:element type="nameAmmunition" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="helmet" name="type"/>
      <xs:element type="bacalava" name="ConstBalaclava"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="armorType">
    <xs:sequence>
      <xs:element type="nameAmmunition" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="armor" name="type"/>
      <xs:element type="protection" name="protection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="knightType">
    <xs:sequence>
      <xs:element type="xs:string" name="knightName"/>
      <xs:element type="AmmunitionType" name="Ammunition"/>
    </xs:sequence>
  </xs:complexType>
 <xs:simpleType name="nameAmmunition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARMOR"/>
      <xs:enumeration value="HELMET"/>
      <xs:enumeration value="SHIELD"/>
      <xs:enumeration value="RANGED_WEAPON"/>
      <xs:enumeration value="MELLE_WEAPON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shield">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CROWS"/>
      <xs:enumeration value="NORMAN"/>
      <xs:enumeration value="BUCKLER"/>
      <xs:enumeration value="TORCH"/>
      <xs:enumeration value="PAVESE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="METAL"/>
      <xs:enumeration value="TREE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="captured">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAPTURED"/>
      <xs:enumeration value="NOT_CAPTURED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="melleWeapon">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SWORD"/>
      <xs:enumeration value="DAGER"/>
      <xs:enumeration value="MACE"/>
      <xs:enumeration value="SPEAR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rangedWeapon">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOW"/>
      <xs:enumeration value="CROSS_BOW"/>
      <xs:enumeration value="JAVELIN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="helmet">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORMAN"/>
      <xs:enumeration value="DORIE"/>
      <xs:enumeration value="DEAF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bacalava">
    <xs:restriction base="xs:string">
      <xs:enumeration value="THERE_BALACLAVA"/>
      <xs:enumeration value="NO_BALACLAVA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="protection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FULLY"/>
      <xs:enumeration value="BREAST"/>
      <xs:enumeration value="CHEST_AND_BACK"/>
      <xs:enumeration value="CHEST_AND_ARMS"/>
      <xs:enumeration value="CHEST_AND_LEGS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="armor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARMOR"/>
      <xs:enumeration value="CHAIN_ARMOR"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>