src/main/resources/knight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="knight" type="knightType"/>
  <xs:complexType name="protectionType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shieldType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="materialType" name="material"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element type="xs:long" name="id" />
      <xs:element type="xs:string" name="name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rangedWeaponType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="xs:boolean" name="captured"/>
      <xs:element type="xs:int" name="numberOfShells"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helmetType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="xs:boolean" name="balaclava"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="armorType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="protectionType" name="protection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ammunitionType">
    <xs:sequence>
      <xs:element type="armorType" name="armor"/>
      <xs:element type="helmetType" name="helmet"/>
      <xs:element type="meleeWeaponType" name="meleeWeapon"/>
      <xs:element type="rangedWeaponType" name="rangedWeapon"/>
      <xs:element type="shieldType" name="shield"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="knightType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="ammunitionType" name="ammunition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meleeWeaponType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="weight"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="xs:boolean" name="captured"/>
      <xs:element type="xs:int" name="length"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>